<div class="mt-4">
    <form method="POST" >
        <div class="form-group">
            <label for="search-input">key word</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="enter keyword">
        </div>

        <button type="submit" class="btn btn-primary">search</button>
    </form>
</div>